<div class='d-flex'>
    <div class='flex-shrink-0'>
        <img src='/assets/icons/other/coffee.svg' alt='{{ site.data.t[page.lang].buymeacoffee }}' width='48'>
    </div>
    <div class='flex-grow-1 ms-3'>
        {{ site.data.t[page.lang].buymeacoffee_desc }}
    </div>
</div>
