<div class="offcanvas offcanvas-top" tabindex="-1" id="collapsible-search">
    <div class="offcanvas-body">
        <div class="container">
            <form action="{% if site.google.cse_id %}{% assign search_result_page = site.pages | where: 'layout', 'search' | where: 'lang', page.lang | first %}{{ search_result_page.url }}{% else %}https://www.google.com/search{% endif %}" class="form-inline" id="collapsible-search-form" method="get" role="search">
                {% if site.google.cse_id %}
                {% else %}
                    <input type="hidden" name="as_sitesearch" value="{{ site.baseurl | prepend: site.url }}" />
                    <input type="hidden" name="ie" value="{{ site.encoding }}" />
                    <input type="hidden" name="oe" value="{{ site.encoding }}" />
                    {% if site.lang or page.lang %}
                        <input type="hidden" name="hl" value="{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}" />
                        <input type="hidden" name="image_lr" value="lang_{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}" />
                        <input type="hidden" name="lr" value="lang_{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}" />
                    {% endif %}
                {% endif %}
                <div class="input-group">
                    <input class="form-control me-2" id="collapsible-search-text" name="q" placeholder="{% if site.data.t[page.lang].search %}{{ site.data.t[page.lang].search }}{% else %}{{ 'Search' }}{% endif %}" type="text" aria-label="{% if site.data.t[page.lang].search %}{{ site.data.t[page.lang].search }}{% else %}{{ 'Search' }}{% endif %}">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary my-2 my-sm-0" id="collapsible-search-search-button">
                            <i class="fa fa-search"></i>
                        </button>
                        <button type="button" class="btn btn-secondary my-2 my-sm-0" id="collapsible-search-close-button" data-bs-dismiss="offcanvas" aria-label="Close">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div><!-- .container -->
    </div><!-- .offcanvas-body -->
</div>
