<!-- Follow Buttons -->
<div class="follow-buttons text-center">
    {% if site.facebook.username or site.data.t[page.lang].site.facebook.username %}
        <a class="btn btn-primary btn-facebook" href="https://facebook.com/{% if site.data.t[page.lang].site.facebook.username %}{{ site.data.t[page.lang].site.facebook.username }}{% else %}{{ site.facebook.username }}{% endif %}" itemprop="sameAs" role="button">
            <i class="fab fa-facebook-f"></i>
        </a>
    {% endif %}
    {% if site.twitter_username or site.data.t[page.lang].site.twitter_username %}
        <a class="btn btn-primary btn-twitter" href="https://twitter.com/{% if site.data.t[page.lang].site.twitter_username %}{{ site.data.t[page.lang].site.twitter_username }}{% else %}{{ site.twitter_username }}{% endif %}" itemprop="sameAs" role="button">
            <i class="fab fa-twitter"></i>
        </a>
    {% endif %}
    {% if site.instagram_username or site.data.t[page.lang].site.instagram_username %}
        <a class="btn btn-primary btn-instagram" href="https://instagram.com/{% if site.data.t[page.lang].site.instagram_username %}{{ site.data.t[page.lang].site.instagram_username }}{% else %}{{ site.instagram_username }}{% endif %}" itemprop="sameAs" role="button">
            <i class="fab fa-instagram"></i>
        </a>
    {% endif %}
    {% if site.linkedin_username or site.data.t[page.lang].site.linkedin_username %}
        <a class="btn btn-primary btn-linkedin" href="https://www.linkedin.com/in/{% if site.data.t[page.lang].site.linkedin_username %}{{ site.data.t[page.lang].site.linkedin_username }}{% else %}{{ site.linkedin_username }}{% endif %}" itemprop="sameAs" role="button">
            <i class="fab fa-linkedin-in"></i>
        </a>
    {% endif %}
    {% if (site.youtube.profile and site.youtube.name) or (site.data.t[page.lang].site.youtube.profile and site.data.t[page.lang].site.youtube.name) %}
        <a class="btn btn-primary btn-youtube" href="https://youtube.com/{% if site.data.t[page.lang].site.youtube.name %}{{ site.data.t[page.lang].site.youtube.profile }}/{{ site.data.t[page.lang].site.youtube.name }}{% else %}{{ site.youtube.profile }}/{{ site.youtube.name }}{% endif %}" itemprop="sameAs" role="button">
            <i class="fab fa-youtube"></i>
        </a>
    {% endif %}
    {% if site.telegram_username or site.data.t[page.lang].site.telegram_username %}
        <a class="btn btn-primary btn-telegram" href="https://t.me/{% if site.data.t[page.lang].site.telegram_username %}{{ site.data.t[page.lang].site.telegram_username }}{% else %}{{ site.telegram_username }}{% endif %}" itemprop="sameAs" role="button">
            <i class="fab fa-telegram-plane"></i>
        </a>
    {% endif %}
    {% if site.foursquare_username or site.data.t[page.lang].site.foursquare_username %}
        <a class="btn btn-primary btn-foursquare" href="https://foursquare.com/{% if site.data.t[page.lang].site.foursquare_username %}{{ site.data.t[page.lang].site.foursquare_username }}{% else %}{{ site.foursquare_username }}{% endif %}" itemprop="sameAs" role="button">
            <i class="fab fa-foursquare"></i>
        </a>
    {% endif %}
    {% if site.github_username or site.data.t[page.lang].site.github_username %}
        <a class="btn btn-primary btn-github" href="https://github.com/{% if site.data.t[page.lang].site.github_username %}{{ site.data.t[page.lang].site.github_username }}{% else %}{{ site.github_username }}{% endif %}" itemprop="sameAs" role="button">
            <i class="fab fa-github"></i>
        </a>
    {% endif %}
    {% if site.gitlab_username or site.data.t[page.lang].site.gitlab_username %}
        <a class="btn btn-primary btn-gitlab" href="https://gitlab.com/{% if site.data.t[page.lang].site.gitlab_username %}{{ site.data.t[page.lang].site.gitlab_username }}{% else %}{{ site.gitlab_username }}{% endif %}" itemprop="sameAs" role="button">
            <i class="fab fa-gitlab"></i>
        </a>
    {% endif %}
    <a class="btn btn-primary btn-rss" href="{{ '/feed.xml' | prepend: page.lang | prepend: '/' | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}" role="button">
        <i class="fas fa-rss"></i>
    </a>
</div>
<!-- Follow Buttons End -->
