<footer class="footer mt-auto py-3 bg-light shadow-lg">
    <div class="container">
        <span class="text-muted">Copyleft {{ site.time | date: '%Y' }} {% if site.data.t[page.lang].site.author.name %}<a href='#author'>{{ site.data.t[page.lang].site.author.name }}</a>{% elsif site.author.name %}<a href='#author'>{{ site.author.name }}</a>{% else %}<a href='#about'>{% if site.data.t[page.lang].site.title %}{{ site.data.t[page.lang].site.title }}{% else %}{{ site.title }}{% endif %}</a>{% endif %}. {% if site.data.t[page.lang].all_rights_reversed %}{{ site.data.t[page.lang].all_rights_reversed }}{% else %}{{ "All rights reversed" }}{% endif %}. {% if site.data.t[page.lang].based_on %}{{ site.data.t[page.lang].based_on }}{% else %}{{ "Based on" }}{% endif %} <a href='https://gitlab.com/antoniomedeiros/material-jekyll'>Material site template for Jekyll</a>.
    </div>
</footer>

<meta itemprop="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncatewords: 55 }}{% elsif site.data.t[page.lang].site.description %}{{ site.data.t[page.lang].site.description }}{% else %}{{ site.description }}{% endif %}">

{% if page.image %}
    <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
        <meta itemprop="url" content="{{ page.image | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}"/>
        <!--<meta itemprop="width" content=""/>--><!-- TODO Image width -->
        <!--<meta itemprop="height" content=""/>--><!-- TODO Image height -->
    </div>
{% endif %}

{% if site.lang or page.lang %}
    <meta itemprop="inLanguage" content="{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}"/>
{% endif %}

{% if site.disqus_shortname or site.data.t[page.lang].site.disqus_shortname %}
    {% if jekyll.environment == "production" %}
        <!-- Disqus -->
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            {% if site.lang or page.lang %}
                var disqus_config = function () {
                    this.language = "{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}";
                };
            {% endif %}
            var disqus_shortname = '{% if site.data.t[page.lang].site.disqus_shortname %}{{ site.data.t[page.lang].site.disqus_shortname }}{% else %}{{ site.disqus_shortname }}{% endif %}';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var s = document.createElement('script'); s.async = true;
                s.type = 'text/javascript';
                s.src = '//' + disqus_shortname + '.disqus.com/count.js';
                (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
            }());
        </script>
        <!-- Disqus End -->
    {% endif %}
{% endif %}