<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary pt-2 pb-2">
        <div class="container justify-content-start">
            <button class="navbar-toggler me-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobile-navbar" aria-controls="mobile-navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <img src="{{ '/favicon.svg' | prepend: site.baseurl }}" alt="" width="28" height="28" class="d-inline-block align-middle">
                <span class="d-inline-block align-middle">
                    {% if site.data.t[page.lang].site.title %}
                        {{ site.data.t[page.lang].site.title }}
                    {% else %}
                        {{ site.title }}
                    {% endif %}
                </span>
            </a>

            <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                <ul class="navbar-nav">
                    {% if site.data.t[page.lang].site.navigation %}
                        {% assign navigation = site.data.t[page.lang].site.navigation %}
                    {% elsif site.navigation %}
                        {% assign navigation = site.navigation %}
                    {% endif %}
                    {% if navigation %}
                        {% for link in navigation %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                        {% for page in site.pages %}
                            {% if page.title and page.autogen == nil %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link d-none d-lg-inline-block" id="navbar-search-button" data-bs-toggle="offcanvas" data-bs-target="#collapsible-search" aria-controls="collapsible-search">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"  title="{% if site.data.t[page.lang].translations %}{{ site.data.t[page.lang].translations }}{% else %}{{ 'Translations' }}{% endif %}"><i class="fas fa-globe-americas" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            {% if page.is_post %}
                                {% assign translations = site.posts | where: 'nickname', page.nickname %}
                            {% else %}
                                {% assign translations = site.pages | where: 'nickname', page.nickname %}
                            {% endif %}
                            {% for lang in site.data.t %}
                                <li><h6 class="dropdown-header">{{ lang[1].language }}</h6></li>
                                {% assign translation = translations | where: 'lang', lang[1].language_tag | first %}
                                {% if translation %}
                                    <li><a class="dropdown-item {% if lang[1].language_tag == page.lang %} fw-bold{% endif %}" href="{{ translation.url | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}">{{ lang[1].translation }}</a></li>
                                {% else %}
                                    <li><a class="dropdown-item" href="http://translate.google.com/translate?js=n&sl={{ page.lang }}&tl={{ lang[1].language_tag }}&u={{ page.url | replace:'index.html', '' | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}">{{ lang[1].translation }}</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{{ '/' | prepend: lang[1].language_tag | prepend: '/' | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}">{{ lang[1].home_page }}</a></li>
                                <li><hr class="dropdown-divider"></li>
                            {% endfor %}
                            <li><h6 class="dropdown-header">Other languages (by Google Translate)</h6></li>
                            <li><a class="dropdown-item" href="http://translate.google.com/translate?js=n&sl={{ page.lang }}&u={{ page.url | replace:'index.html', '' | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}">Translate this page</a></li>
                        </ul>
                    </li><!--.dropdown-->
                </ul><!--.navbar-nav-->
            </div><!--#navbarCollapse-->
        </div><!--.container-->
    </nav>
</header>
