<div class="offcanvas offcanvas-start" tabindex="-1" id="mobile-navbar">
    <div class="offcanvas-header">
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            <img src="{{ '/favicon.svg' | prepend: site.baseurl }}" alt="" width="28" height="28" class="d-inline-block align-text-top">
            {{ site.title }}
        </a>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body pt-0 d-flex flex-column">
        <form action="{% if site.google.cse_id %}{% assign search_result_page = site.pages | where: 'layout', 'search' | where: 'lang', page.lang | first %}{{ search_result_page.url }}{% else %}https://www.google.com/search{% endif %}" class="form-inline" id="mobile-navbar-search-form" method="get" role="search">
            {% if site.google.cse_id %}
            {% else %}
                <input type="hidden" name="as_sitesearch" value="{{ site.baseurl | prepend: site.url }}" />
                <input type="hidden" name="ie" value="{{ site.encoding }}" />
                <input type="hidden" name="oe" value="{{ site.encoding }}" />
                {% if site.lang or page.lang %}
                    <input type="hidden" name="hl" value="{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}" />
                    <input type="hidden" name="image_lr" value="lang_{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}" />
                    <input type="hidden" name="lr" value="lang_{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}" />
                {% endif %}
            {% endif %}
            <div class="input-group">
                <input class="form-control me-2" id="mobile-navbar-search-field" name="q" placeholder="{% if site.data.t[page.lang].search %}{{ site.data.t[page.lang].search }}{% else %}{{ 'Search' }}{% endif %}" type="text" aria-label="{% if site.data.t[page.lang].search %}{{ site.data.t[page.lang].search }}{% else %}{{ 'Search' }}{% endif %}">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary my-2 my-sm-0" id="mobile-navbar-search-button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <ul class="nav flex-column flex-grow-1 mt-3">
            {% if site.data.t[page.lang].site.navigation %}
                {% assign navigation = site.data.t[page.lang].site.navigation %}
            {% elsif site.navigation %}
                {% assign navigation = site.navigation %}
            {% endif %}
            {% if navigation %}
                {% for link in navigation %}
                    <li class="nav-item">
                        <a class="nav-link ps-0" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                    </li>
                {% endfor %}
            {% else %}
                {% for page in site.pages %}
                    {% if page.title and page.autogen == nil %}
                        <li class="nav-item">
                            <a class="nav-link ps-0" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
        <div class="d-flex justify-content-center mb-3 mt-3">
            <button type="button" class="btn btn-secondary" id="mobile-navbar-language-button">
                <i class="fas fa-globe-americas" aria-hidden="true"></i> {% if site.data.t[page.lang].language %}{{ site.data.t[page.lang].language }}{% elsif site.data.t[page.lang].translations %}{{ site.data.t[page.lang].translations }}{% else %}{{ 'Translations' }}{% endif %}
            </button>
        </div>
    </div><!-- .offcanvas-body -->
</div><!-- .offcanvas -->
