<div class="alert alert-success no-ads-here" role="alert">
    <div class="d-flex">
        <div class="flex-shrink-0">
            <img src="/favicon.png" style="max-width: 64px;">
        </div>
        <div class="flex-grow-1 ms-3">
            <h6 class="alert-heading mt-0 text-reset">{{ site.data.t[page.lang].note }}</h6>
            {{ include.text | markdownify }}
        </div>
    </div>
</div>
