<div class="card mb-3" id="about">
    <div class="card-header">
      <h3>
          <a name="about"></a>
          {% if site.data.t[page.lang].about %}
              {{ site.data.t[page.lang].about }}
          {% else %}
              {{ "About" }}
          {% endif %}
      </h3>
    </div>
    <div class="card-body" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="{% if site.data.t[page.lang].site.title %}{{ site.data.t[page.lang].site.title }}{% else %}{{ site.title }}{% endif %}" />
        <meta itemprop="url" content="{{ site.baseurl | prepend: site.url }}" />
        <p class='text-center' itemprop='logo' itemscope itemtype='http://schema.org/ImageObject'>
            <a href='{{ "/assets/img/TuxKamarada.png" | prepend: site.baseurl | replace: "//", "/" | prepend: site.url }}' itemprop='url'>
                <img src='{{ "/assets/img/TuxKamarada.png" | prepend: site.baseurl | replace: "//", "/" | prepend: site.url }}' class='img-fluid rounded-circle'>
            </a>
            <!--<meta itemprop="width" content=""/>--><!-- TODO Image width -->
            <!--<meta itemprop="height" content=""/>--><!-- TODO Image height -->
        </p>
        <p class="text-center" itemprop="description">
            {% if site.data.t[page.lang].site.description %}
                {{ site.data.t[page.lang].site.description }}
            {% else %}
                {{ site.description }}
            {% endif %}
        </p>
        {% if ((site.shareaholic.site_id and site.shareaholic.follow_buttons_app_id) or (site.data.t[page.lang].shareaholic.site_id and site.data.t[page.lang].shareaholic.follow_buttons_app_id)) %}
            {% if jekyll.environment == "production" %}
                <div class="shareaholic-canvas" data-app="follow_buttons" data-app-id="{% if site.data.t[page.lang].site.shareaholic.follow_buttons_app_id %}{{ site.data.t[page.lang].site.shareaholic.follow_buttons_app_id }}{% else %}{{ site.shareaholic.follow_buttons_app_id }}{% endif %}"></div>
            {% endif %}
        {% else %}
            {% include follow-buttons.html %}
        {% endif %}
    </div><!-- .card-body -->
</div><!-- .card -->

{% if jekyll.environment == "production" %}
    <div class="card mb-3">
        <div class="card-header">
            <h3>{% if site.data.t[page.lang].ads %}{{ site.data.t[page.lang].ads }}{% else %}{{ "Ads" }}{% endif %}</h3>
        </div>
        <div class="card-body">
            {% include a-ads.html id="1589157" %}
        </div><!-- .card-body -->
    </div><!-- .card -->
{% endif %}

<div class="card mb-3" id="donate">
    <div class="card-header">
      <h3>
          <a name="donate"></a>
          {{ site.data.t[page.lang].donate }}
      </h3>
    </div>
    <div class="card-body">
        {% include sidebar-donate.html %}
    </div><!-- .card-body -->
</div><!-- .card -->

{% if jekyll.environment == "production" %}
    <div class="card mb-3 d-none d-lg-block">
        <div class="card-header">
            <h3>
                Facebook
            </h3>
        </div>
        <div class="card-body">
            <div id="facebook-page-plugin-wrapper">
                <!-- Facebook Page Plugin -->
                <div class="fb-page" data-href="https://www.facebook.com/LinuxKamarada/" data-tabs="timeline" data-width="" data-height="450" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/LinuxKamarada/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/LinuxKamarada/">Linux Kamarada</a></blockquote></div>
            </div><!-- #facebook-page-plugin-wrapper -->
        </div><!-- .card-body -->
    </div><!-- .card -->
{% endif %}

{% if site.twitter_username or site.data.t[page.lang].site.twitter_username %}
    {% if jekyll.environment == "production" %}
        <div class="card mb-3 d-none d-lg-block">
            <div class="card-header">
                <h3>
                    Twitter
                </h3>
            </div>
            <div class="card-body">
                <!-- Twitter Embedded Timeline -->
                <a class="twitter-timeline" data-height="450" data-theme="light" data-link-color="#4caf50" href="https://twitter.com/{% if site.data.t[page.lang].site.twitter_username %}{{ site.data.t[page.lang].site.twitter_username }}{% else %}{{ site.twitter_username }}{% endif %}?ref_src=twsrc%5Etfw">Tweets by {% if site.data.t[page.lang].site.twitter_username %}{{ site.data.t[page.lang].site.twitter_username }}{% else %}{{ site.twitter_username }}{% endif %}</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div><!-- .card-body -->
        </div><!-- .card -->
    {% endif %}
{% endif %}

<div class="card mb-3" id="author">
    <div class="card-header">
        <h3>
            <a name="author"></a>
            {% if site.data.t[page.lang].author %}
                {{ site.data.t[page.lang].author }}
            {% else %}
                {{ "Author" }}
            {% endif %}
        </h3>
    </div>
    <div class="card-body" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <p class="text-center">
            <a href='{{ "/antonio-hantei.jpg" | prepend: site.baseurl | replace: "//", "/" }}' title='{{ site.author.name }}'>
                <img src='{{ "/antonio-hantei.jpg" | prepend: site.baseurl | replace: "//", "/" }}' alt='{{ site.author.name }}' class='img-fluid img-thumbnail rounded-circle'>
            </a>
        </p>
        <p class="lead text-center" itemprop="name">
            {{ site.author.name }}
        </p>
        <ul class="contact-list list-unstyled">
            <li><a href="{{ site.author.site }}" itemprop="url"><i class="fas fa-globe"></i> {{ site.author.site }}</a></li>
        </ul>
    </div><!-- .card-body -->
</div><!-- .card -->
