<div class='alert alert-success' role='alert'>
    <i class='fas fa-sync-alt' aria-hidden='true'></i> <strong>{% if site.data.t[page.lang].update %}{{ site.data.t[page.lang].update }}{% else %}{{ 'Update' }}{% endif %}{% if include.date %} ({{ include.date }}){% endif %}:</strong>
    {{ include.message | markdownify }}
</div>
