---
layout: default
sitemap: false
---

<div class="card mb-3">
    <div class="card-header bg-primary">
        <h2 class="blog-archive-title" itemprop="headline name">
            <a href="{{ page.url | prepend: site.baseurl | replace: '//', '/' }}" itemprop="url">
                <!-- TODO Translate -->
                {% case page.type %}
                    {% when 'year' %}
                        Archive of posts from {{ page.date | date: "%Y" }}
                    {% when 'month' %}
                        Archive of posts from {{ page.date | date: "%B %Y" }}
                    {% when 'day' %}
                        Archive of posts from {{ page.date | date: "%B %-d, %Y" }}
                    {% else %}
                        Archive of posts with {{ page.type }} '{{ page.title }}'
                {% endcase %}
            </a>
        </h2>
    </div>
</div>

{% assign P = page.posts | size %}
{% for post in page.posts %}
    {% assign p = p | plus: 1 %}
    <div class="blog-post card mb-3" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="card-header">
            <h2 class="blog-post-title" itemprop="headline name">
                <a class="blog-post-link" href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}" itemprop="mainEntityOfPage url">
                    {{ post.title }}
                </a>
            </h2>
            <div class="blog-post-meta row">
                <div class='col-sm-6'>
                    <p class="blog-post-date ms-auto me-auto" itemprop="datePublished" content="{{ post.date | date: "%Y-%m-%d" }}">
                        <a class='text-muted' href="{{ post.date | date: '/%Y/%m/%d/' | prepend: site.baseurl | replace: '//', '/' }}">
                            {% include date.html date=post.date %}
                        </a>
                    </p>
                    <meta itemprop="dateModified" content="{{ page.last_modified_at | date: "%Y-%m-%d" }}" />
                </div>
                <div class='col-sm-6'>
                    {% if site.shareaholic.site_id and site.shareaholic.share_buttons_post_meta_app_id or site.data.t[page.lang].shareaholic.site_id and site.data.t[page.lang].shareaholic.share_buttons_post_meta_app_id %}
                        {% if jekyll.environment == "production" %}
                            <div class="shareaholic-canvas" data-app="share_buttons" data-app-id="{% if site.data.t[page.lang].site.shareaholic.share_buttons_post_meta_app_id %}{{ site.data.t[page.lang].site.shareaholic.share_buttons_post_meta_app_id }}{% else %}{{ site.shareaholic.share_buttons_post_meta_app_id }}{% endif %}" data-link="{{ post.url | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}"></div>
                        {% endif %}
                    {% endif %}
                </div><!-- .col-sm-6 -->
                {% if site.author %}
                    <div itemprop="author" itemscope itemtype="http://schema.org/Person">
                        {% if site.author.name %}
                            <meta itemprop="name" content="{{ site.author.name }}">
                        {% endif %}
                        {% if site.author.email %}
                            <meta itemprop="email" content="{{ site.author.email }}">
                        {% endif %}
                        {% if site.author.site %}
                            <link itemprop="url" href="{{ site.author.site }}">
                        {% endif %}
                    </div>
                {% endif %}
                {% if site.lang or page.lang %}
                    <meta itemprop="inLanguage" content="{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}"/>
                {% endif %}
                <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
                    <meta itemprop="name" content="{{ site.title }}" />
                    <meta itemprop="url" content="{{ site.baseurl | prepend: site.url }}" />
                    <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
                        <meta itemprop="url" content="{{ '/assets/img/TuxKamarada.png' | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}" />
                        <!--<meta itemprop="width" content=""/>--><!-- TODO Image width -->
                        <!--<meta itemprop="height" content=""/>--><!-- TODO Image height -->
                    </div>
                </div>
            </div><!-- .blog-post-meta -->
        </div><!-- .card-header -->
        <div class="blog-post-content card-body">
            <div class="row">
                {% if post.image %}
                <div class='col-sm-4' itemprop='image' itemscope itemtype='http://schema.org/ImageObject'>
                    <p class='text-center'>
                        <a href='{{ post.url | prepend: site.baseurl | replace: '//', '/' }}'>
                            <img src='{{ post.image | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}' class='img-fluid img-thumbnail' itemprop="url">
                        </a>
                    </p>
                    <!--<meta itemprop="width" content=""/>--><!-- TODO Image width -->
                    <!--<meta itemprop="height" content=""/>--><!-- TODO Image height -->
                </div>
                <div class="col-sm-8">
                {% else %}
                <div class="col-xs-12">
                {% endif %}
                    <p itemprop="description">{{ post.excerpt | strip_html | strip_newlines | truncatewords: 55 }}</p>
                    {% if site.disqus_shortname or site.data.t[page.lang].site.disqus_shortname %}
                        <a class='card-link float-start' href="{{ '#disqus_thread' | prepend: post.url | prepend: site.baseurl | replace: '//', '/' }}">
                            {% if site.data.t[page.lang].comments %}
                                {{ site.data.t[page.lang].comments }}
                            {% else %}
                                {{ "Comments" }}
                            {% endif %}
                        </a>
                    {% endif %}
                    <a class='card-link float-end' href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                        Read more &rsaquo;
                    </a>
                </div>
            </div><!-- .row -->
        </div><!-- .blog-post-content -->
    </div><!-- .blog-post -->
{% endfor %}
