---
layout: page
---

<div class='no-ads-here'>
    <p>{{ page.intro }}</p>

    <div class='d-flex my-5'>
        <div class='flex-shrink-0'>
            <img src="/assets/icons/other/google-groups.png" style='width: 64px;'>
        </div>
        <div class='flex-grow-1 ms-3'>
            <h4 class="mt-0 mb-2">{{ page.help_other_users_title }}</h4>
            {{ page.help_other_users_desc }}
        </div>
    </div>

    <div class='d-flex my-5'>
        <div class='flex-shrink-0'>
            <img src="/assets/icons/other/bug.png" style='width: 64px;'>
        </div>
        <div class='flex-grow-1 ms-3'>
            <h4 class="mt-0 mb-2">{{ page.test_bugs_title }}</h4>
            {{ page.test_bugs_desc }}
        </div>
    </div>

    <div class='d-flex my-5'>
        <div class='flex-shrink-0'>
            <img src="/assets/icons/other/financial-help.svg" style='width: 64px;'>
        </div>
        <div class='flex-grow-1 ms-3'>
            <h4 class="mt-0 mb-2">{{ page.financial_title }}</h4>
            {{ page.financial_desc }}

            <div class='d-flex my-4'>
                <div class='flex-shrink-0'>
                    <img src="/assets/icons/other/donations.png" style='width: 48px;'>
                </div>
                <div class='flex-grow-1 ms-3'>
                    <h4 class="mt-0 mb-2">{{ page.donations_title }}</h4>
                    {{ page.donations_desc }}
                    <p class="text-center">
                        <a href='{{ site.data.t[page.lang].paypal_url }}' title='PayPal'>
                            <img src='{{ "/assets/img/paypal-" | append: page.lang | append: ".gif" | prepend: site.baseurl | replace: "//", "/" | prepend: site.url }}' alt='PayPal' target='_blank'>
                        </a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
