<!DOCTYPE html>
<html{% if page.lang %} lang="{{ page.lang }}"{% elsif site.lang %} lang="{{ site.lang }}"{% endif %} class="h-100" prefix="
    og: http://ogp.me/ns#
    fb: http://ogp.me/ns/fb#
    article: http://ogp.me/ns/article#">

{% include head.html %}

<body class="d-flex flex-column h-100" itemscope itemtype="http://schema.org/{% if page.is_post %}{{ "BlogPosting" }}{% else %}{{ "WebPage" }}{% endif %}">
    {% include header.html %}
    {% include mobile-navbar.html %}
    {% include collapsible-search.html %}

    {% if jekyll.environment == "production" %}
        <!-- Facebook SDK -->
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/{% if page.lang == 'pt' %}{{ "pt_BR" }}{% else %}{{ "en_US" }}{% endif %}/sdk.js#xfbml=1&version=v4.0&appId={{ facebook.app_id }}&autoLogAppEvents=1"></script>
        <!-- End Facebook SDK -->
    {% endif %}

    <main class="flex-shrink-0">
        <div class="container" id="main-container">
            <div class="row">
                <div class='col-sm-8'>
                    <!--<div class='gap-small'>
                        <a href='https://counter.opensuse.org/link/'>
                            <img class='img-fluid' id='countdown' src='http://countdown.opensuse.org/wide.{{ page.lang }}.png'/>
                        </a>
                    </div>-->
                    {{ content }}
                </div>
                <div class="col-sm-4">
                    {% include sidebar.html %}
                </div>
            </div>
        </div>

        {% include footer.html %}

        {% if jekyll.environment != "production" %}
            <div id='fab'>
                <button type='button' class='btn btn-primary btn-fab-view rounded-circle'>
                    <i class='fas fa-eye'></i>
                </button>
            </div>
        {% endif %}
    </main>

    {% include language-modal.html %}
</body>
</html>
