---
layout: page
---
<div class='no-ads-here'>
    <p>{{ page.intro }}</p>

    {% if page.news_link %}
        <p>{{ page.news_link }}</p>
    {% endif %}

    <p>{{ page.free_sw }}</p>

    <div class='d-flex align-items-center mb-3'>
        <div class='flex-shrink-0'>
            <img src='/assets/img/powered-by-opensuse.png' alt='{{ page.based_on_opensuse }}' style='display: table-cell; max-width: 64px; vertical-align: middle;'>
        </div>
        <div class='flex-grow-1 ms-3'>
           {{ page.based_on_opensuse_desc }}
        </div>
    </div>

    <h2>Download</h2>

    <p>{{ page.version_desc }}</p>

    <div class="mb-3">
        <label for="language" class="form-label">{{ page.language_label }}</label>
        {% if page.language_icon %}
            <div class="input-group">
                <div class="input-group-text me-2">
                    <img src='{{ page.language_icon }}'>
                </div>
                <input id="language" name="language" type="text" readonly class="form-control" aria-describedby="languageHelp" value="{{ page.language_value }}">
            </div>
            <div id="languageHelp" class="form-text text-muted">{{ page.other_language }}</div>
        {% else %}
            <div class="input-group">
                <div class="input-group-text me-2">
                    <img src='/assets/icons/other/brazil-24.png'>&nbsp;
                    <img src='/assets/icons/other/usa-24.png'>
                </div>
                <input id="language" name="language" type="text" readonly class="form-control" value="{{ page.language_value }}">
            </div>
        {% endif %}
    </div>

    <div class="mb-3">
        <label for="filename" class="form-label">{{ page.filename_label }}</label>
        <div class="input-group">
            <div class="input-group-text me-2">
                <i class="fas fa-compact-disc"></i>
            </div>
            <input id="filename" name="filename" type="text" readonly class="form-control" value="{{ page.filename_value | liquify }}">
            <a class="btn btn-primary" href="{{ page.download_link | liquify }}"><i class="fas fa-download"></i> {{ page.download }}</a>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label for="date" class="form-label">{{ page.date_label }}</label>
            <div class="input-group">
                <div class="input-group-text me-2">
                    <i class="fa fa-calendar"></i>
                </div>
              <input id="date" name="date" type="text" readonly class="form-control" value="{{ page.date_value | liquify }}">
            </div>
        </div>
        <div class="col">
            <label for="size" class="form-label">{{ page.size_label }}</label>
            <div class="input-group">
                <div class="input-group-text me-2">
                    <i class="fa fa-info"></i>
                </div>
                <input id="size" name="size" type="text" readonly class="form-control" value="{{ page.size_value | liquify }}">
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label for="sha256sum" class="form-label">{{ page.sha256sum_label }}</label>
        <div class="input-group">
            <div class="input-group-text me-2">
                <i class="fa fa-search"></i>
            </div>
            <input id="sha256sum" name="sha256sum" type="text" readonly class="form-control" value="{{ page.sha256sum_value | liquify }}">
            <a class="btn btn-secondary" id="copy" href="#" onclick='copyToClipboard("sha256sum", "copy", "{{ site.data.t[page.lang].copied }}")' data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="manual"><i class="far fa-copy"></i> {{ site.data.t[page.lang].copy }}</a>
            <a class="btn btn-secondary" href="{{ page.sha256sum_link | liquify }}"><i class="fas fa-download"></i> {{ page.download }}</a>
        </div>
    </div>

    <h3>{{ page.system_requirements_title }}</h3>
    <ul>
        {{ page.system_requirements_list }}
    </ul>

    <p>{{ page.hosted-by }} <a href="https://sourceforge.net/projects/kamarada/">SourceForge</a>.</p>

    {{ content }}

    {% include buymeacoffee.html %}
</div>
