---
layout: page
---

<div class='no-ads-here'>

    <div class='d-flex mb-5'>
        <div class='flex-shrink-0'>
            <img src='/favicon.png' alt='{{ page.stable_title }}' style='max-width: 64px;'>
        </div>
        <div class='flex-grow-1 ms-3'>
            <h4 class='mt-0 mb-2'>
                <a href='/{{ page.lang }}/download/{{ page.stable_release }}/'>
                    {{ page.stable_title }}
                </a>
            </h4>
            <p>{{ page.stable_desc }}</p>
            <a class='btn btn-primary float-end' href='/{{ page.lang }}/download/{{ page.stable_release }}/'>
                Download ›
            </a>
        </div>
    </div>

    {% if page.dev_title %}
        <div class='d-flex mb-5'>
            <div class='flex-shrink-0'>
                <img src='/assets/icons/Papirus/64x64/apps/builder.svg' alt='{{ page.dev_title }}' style='max-width: 64px;'>
            </div>
            <div class='flex-grow-1 ms-3'>
                <h4 class='mt-0 mb-2'>
                    <a href='/{{ page.lang }}/download/{{ page.dev_release }}/'>
                        {{ page.dev_title }}
                    </a>
                </h4>
                <p>{{ page.dev_desc | markdownify }}</p>
                <a class='btn btn-primary float-end' href='/{{ page.lang }}/download/{{ page.dev_release }}/'>
                    Download ›
                </a>
            </div>
        </div>
    {% endif %}

    <div class='d-flex mb-5'>
        <div class='flex-shrink-0'>
            <img src='/assets/img/15.1-gray.png' alt='{{ page.archive_title }}' style='max-width: 64px;'>
        </div>
        <div class='flex-grow-1 ms-3'>
            <h4 class='mt-0 mb-2'>
                {{ page.archive_title }}
            </h4>
            <p>{{ page.archive_desc | markdownify }}</p>
            <ul>
                <li><a href='/{{ page.lang }}/download/15.4/'>Linux Kamarada 15.4</a></li>
                <li><a href='/{{ page.lang }}/download/15.3/'>Linux Kamarada 15.3</a></li>
                <li><a href='/{{ page.lang }}/download/15.2/'>Linux Kamarada 15.2</a></li>
                <li><a href='/{{ page.lang }}/download/15.1/'>Linux Kamarada 15.1</a></li>
            </ul>
        </div>
    </div>

</div>
