---
layout: null
sitemap: false
---
<!DOCTYPE html>
<html>
<body>
    <script>
        var languages = [{{ page.languages }}];
        var pages = [{{ page.pages }}];
        var languageFound = false;
        var userLanguage = navigator.language || navigator.browserLanguage;
        userLanguage = userLanguage.toLowerCase().substr(0, 2);
        for (var l = 0; l < languages.length; l++) {
            if (userLanguage == languages[l]) {
                window.location = (pages[l]);
                languageFound = true;
            }
        }
        if (!languageFound) {
            window.location = (pages[0]);
        }
    </script>
</body>
</html>
