---
layout: default
---

<div class="blog-post card mb-3">
    <header class="card-header">
        <h1 class="blog-post-title" itemprop="headline name">
            <a class="blog-post-link" href="{{ page.url | prepend: site.baseurl | replace: '//', '/' }}" itemprop="url">
                {{ page.title }}
            </a>
        </h1>
    </header>

    <article class="blog-post-content card-body" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebPageElement">
        {{ content }}
    </article>
</div><!-- .blog-post -->
