---
layout: default
---

<div class="blog-post card mb-3">
    <header class="card-header">
        <h1 class="blog-post-title" itemprop="headline name">
            <a class="blog-post-link" href="{{ page.url | prepend: site.baseurl | replace: '//', '/' }}" itemprop="mainEntityOfPage url">
                {{ page.title }}
            </a>
        </h1>
        <div class="blog-post-meta row">
            <div class='col-sm-6'>
                <p class="blog-post-date ms-auto me-auto" itemprop="datePublished" content="{{ page.date | date: "%Y-%m-%d" }}">
                    <a class='text-muted' href="{{ page.date | date: '/%Y/%m/%d/' | prepend: site.baseurl | replace: '//', '/' }}">
                        {% include date.html date=page.date %}
                    </a>
                </p>
                <meta itemprop="dateModified" content="{{ page.last_modified_at | date: "%Y-%m-%d" }}" />
            </div>
            <div class='col-sm-6'>
                {% if site.shareaholic.site_id and site.shareaholic.share_buttons_post_meta_app_id or site.data.t[page.lang].shareaholic.site_id and site.data.t[page.lang].shareaholic.share_buttons_post_meta_app_id %}
                    {% if jekyll.environment == "production" %}
                        <div class="shareaholic-canvas" data-app="share_buttons" data-app-id="{% if site.data.t[page.lang].site.shareaholic.share_buttons_post_meta_app_id %}{{ site.data.t[page.lang].site.shareaholic.share_buttons_post_meta_app_id }}{% else %}{{ site.shareaholic.share_buttons_post_meta_app_id }}{% endif %}" data-link="{{ post.url | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}"></div>
                    {% endif %}
                {% endif %}
            </div><!-- .col-sm-6 -->
        </div><!-- .blog-post-meta -->
    </header>

    <article class="blog-post-content card-body">
        <div itemprop="articleBody mainEntity">
            {{ content }}
        </div>

        {% if site.shareaholic.site_id and site.shareaholic.share_buttons_post_comments_app_id or site.data.t[page.lang].shareaholic.site_id and site.data.t[page.lang].shareaholic.share_buttons_post_comments_app_id %}
            <div class="gap"></div>
            <h2>
                {% if site.data.t[page.lang].what_about_sharing %}
                    {{ site.data.t[page.lang].what_about_sharing }}
                {% else %}
                    {{ "Did you like it? What about sharing?" }}
                {% endif %}
            </h2>
            <div class="shareaholic-canvas" data-app="share_buttons" data-app-id="{% if site.data.t[page.lang].site.shareaholic.share_buttons_post_comments_app_id %}{{ site.data.t[page.lang].site.shareaholic.share_buttons_post_comments_app_id }}{% else %}{{ site.shareaholic.share_buttons_post_comments_app_id }}{% endif %}"></div>
        {% endif %}

        {% if site.shareaholic.site_id and site.shareaholic.related_content_app_id or site.data.t[page.lang].shareaholic.site_id and site.data.t[page.lang].shareaholic.related_content_app_id %}
            <div class="gap"></div>
            <h2>
                {% if site.data.t[page.lang].see_also %}
                    {{ site.data.t[page.lang].see_also }}
                {% else %}
                    {{ "See also" }}
                {% endif %}
            </h2>
            <p>
                {% if site.data.t[page.lang].if_you_liked_this_content %}
                    {{ site.data.t[page.lang].if_you_liked_this_content }}
                {% else %}
                    {{ "If you liked this content, you may also be interested in:" }}
                {% endif %}
            </p>
            <div class="shareaholic-canvas" data-app="recommendations" data-app-id="{% if site.data.t[page.lang].site.shareaholic.related_content_app_id %}{{ site.data.t[page.lang].site.shareaholic.related_content_app_id }}{% else %}{{ site.shareaholic.related_content_app_id }}{% endif %}"></div>
        {% endif %}

        {% include buymeacoffee.html %}

        {% if site.disqus_shortname or site.data.t[page.lang].site.disqus_shortname %}
            {% if jekyll.environment == "production" %}
                <!-- Disqus -->
                <div class="gap"></div>
                <h2>
                    {% if site.data.t[page.lang].comments %}
                        {{ site.data.t[page.lang].comments }}
                    {% else %}
                        {{ "Comments" }}
                    {% endif %}
                </h2>
                <div id="disqus_thread"></div>
                <script>
                    var disqus_config = function () {
                        {% if site.lang or page.lang %}
                            this.language = "{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}";
                        {% endif %}
                        this.page.url = '{{ page.url | prepend: site.baseurl | replace: "//", "/" | prepend: site.url }}';
                    };

                    (function() {
                        var d = document, s = d.createElement('script');

                        s.src = '//{% if site.data.t[page.lang].site.disqus_shortname %}{{ site.data.t[page.lang].site.disqus_shortname }}{% else %}{{ site.disqus_shortname }}{% endif %}.disqus.com/embed.js';

                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>
                    <p>Please <a href="http://www.enable-javascript.com/" target="_blank">enable JavaScript</a> to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus</a>.</p>
                </noscript>
                <!-- Disqus End -->
            {% endif %}
        {% endif %}
    </article>
</div><!-- .blog-post -->
