---
layout: default
---

<div class="blog-post card mb-3">
    <header class="card-header">
        <h1 class="blog-post-title" itemprop="headline name">
            {% if site.google.cse_id %}
                {% if site.data.t[page.lang].search_results %}
                    {{ site.data.t[page.lang].search_results }}
                {% else %}
                    {{ "Search results" }}
                {% endif %}
            {% else %}
                {% if site.data.t[page.lang].got_lost %}
                    {{ site.data.t[page.lang].got_lost }}
                {% else %}
                    {{ "Got lost?" }}
                {% endif %}               
            {% endif %}
        </h1>
    </header>

    <article class="blog-post-content card-body" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebPageElement">
        {% if site.google.cse_id %}
            <div class="reset-box-sizing">
                <script>
                    (function() {
                        var cx = '{{ site.google.cse_id }}';
                        var gcse = document.createElement('script');
                        gcse.type = 'text/javascript';
                        gcse.async = true;
                        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                            '//cse.google.com/cse.js?cx=' + cx;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(gcse, s);
                    })();
                </script>
                <gcse:searchresults-only
                    ie="{{ site.encoding }}"
                    oe="{{ site.encoding }}"
                    {% if site.lang or page.lang %}
                        hl="{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}"
                        image_lr="lang_{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}"
                        lr="lang_{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}"
                    {% endif %}
                ></gcse:searchresults-only>
            </div>
        {% else %}
            <p>
                {% if site.data.t[page.lang].search_form_above %}
                    {{ site.data.t[page.lang].search_form_above }}
                {% else %}
                    {{ "Please, use the search form above." }}
                {% endif %}
            </p>
            <script>
                $(document).ready(function(){
                    $('#search-button').click();
                });
            </script>
        {% endif %}
    </article>
</div><!-- .blog-post -->
